#
# Copyright 2019 Delphix. All rights reserved.
#
# SPDX-License-Identifier: GPL-2.0-or-later
#

Source: performance-diagnostics
Section: debug
Priority: optional
Maintainer: Delphix Engineering <eng@delphix.com>
Build-Depends: debhelper (>= 10), devscripts
Standards-Version: 4.1.2

Package: performance-diagnostics
Architecture: any
Depends: python3-bcc, python-minimal
Description: eBPF-based Performance Diagnostic Tools
  A collection of eBPF-based tools for diagnosing performance issues.
