#!/usr/bin/make -f
#
# Copyright 2019 Delphix. All rights reserved.
#
# SPDX-License-Identifier: GPL-2.0-or-later
#

%:
	dh $@

#
# The package is all scripts so there are no source to build. However, we do
# need to rename a couple files, so do that here.
#
override_dh_auto_build:
	mkdir -p build/cmd/
	cp cmd/estat.py build/cmd/estat
	cp cmd/stbtrace.py build/cmd/stbtrace
	cp cmd/nfs_threads.py build/cmd/nfs_threads

override_dh_auto_install:
	dh_install build/cmd/* /usr/bin
	dh_install lib/* /usr/share/performance-diagnostics/lib
	dh_install bpf/* /usr/share/performance-diagnostics/bpf
